/* Site-wide Style Defaults
-------------------------------------------------- */

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/* Angular Bootstrap UI "href fix" */
.nav, .pagination, .carousel, .panel-title, .dropdown-toggle a { cursor: pointer; }

/* Fix that silly blue border around accordion headers */
.accordion-toggle:focus{outline: none;}

.btn {
  border-radius:5px;
}

.terminal {
  float: left;
  border: #000 solid 5px;
  font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
  font-size: 11px;
  color: #f0f0f0;
  background: #000;
}

.terminal-cursor {
  color: #000;
  background: #f0f0f0;
}

.jumbotron {
  margin-left:-15px;
  margin-right:-15px;
  padding-top:5px;
  padding-left:15px;
  padding-bottom:5px;
}

.modal-content {
  margin:auto;
}

.popover {
  max-width:200px;
}

.popover-content {
  width:200px;
}

/* Useful helpers
-------------------------------------------------- */

.cursor-pointer {
  cursor: pointer;
}

.fill-height {
  height:100%;
}

.fill-width {
  width:100% !important;
}

.flush-border {
  border-radius:0px;
  margin:0;
  padding:0;
}

.helper-text {
  border:dashed;
  text-align:center;
  padding-top:100px;
  padding-bottom:100px;
  vertical-align:middle;
  height:100%;
}

.margin-left-right-120 {
  display: block;
  margin-left: 120px;
  margin-right: 120px;
}

.modal-body-scrollable {
   min-height:350px;
   max-height:500px;
   overflow: auto;
}

.top-margin {
  margin-top:15px;
}

.undecorate-link {
  text-decoration:none !important;
  color:inherit !important;
}

/* Specific id styles
-------------------------------------------------- */

#configWizard {
  min-height:400px;
  max-height:600px;
}

#consolePanel {
  margin: 10% auto;
  max-width:580px;
}

#footer {
 position:fixed;
 left:0px;
 bottom:0px;
 height:50px;
 width:100%;
 background:#DDD;
}

#loginPanel {
  margin: 10% auto;
  max-width:400px;
}

#navbar {
  margin: 50px;
}

#navBrandLogo {
  margin-top:-5px;
}

#volumeTable {
  border-radius:25px;
  border:1px solid lightgray;
}
#addFieldBtn, #addFieldDropdown {
  cursor: pointer;
}



