[submodule "webui"]
	path = webui
	url = https://github.com/nds-org/workbench-webui
	branch = main
[submodule "helm-chart"]
	path = helm-chart
	url = https://github.com/nds-org/workbench-helm-chart
	branch = main
[submodule "specs"]
	path = specs
	url = https://github.com/nds-org/ndslabs-specs
	branch = main
[submodule "apiserver"]
	path = apiserver
	url = https://github.com/nds-org/workbench-apiserver-python
