[submodule "webui"]
	path = webui
	url = https://github.com/nds-org/workbench-webui
	branch = 1f5595bed61bc30826ba5d32e8e9a69fffeece2d
[submodule "helm-chart"]
	path = helm-chart
	url = https://github.com/nds-org/workbench-helm-chart
	branch = 722cd01aadd918404448086b6870eca09b9587d9
[submodule "specs"]
	path = specs
	url = https://github.com/nds-org/ndslabs-specs
	branch = 1340fc7a775ebd228c7cf92460439f64eef8561a
[submodule "apiserver"]
	path = apiserver
	url = https://github.com/nds-org/workbench-apiserver-python
	branch = a5a27676504e914f2347795ae685b16c59777fba
