**/nds-build
**/*.swp
**/.c9/
**/.idea/
**/node_modules/
**/bower_components/
**/build/
**/*.log
**/coverage/
**/dist/
**/.DS_Store
gui/tests/reports/*
gui/shared/ndslabs-api.js
gui/app/shared/ndslabs-api.js
.idea
apiserver/vendor
gui/*.auth.json
**/.protractor-fail-fast
