/* Angular Bootstrap UI "href fix" */
.nav, .pagination, .carousel, .panel-title, .dropdown-toggle a { cursor: pointer; }

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;*/
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.expanded-footer {
  /* Set the fixed height of the expanded footer here (slide-out) */
  height: 200px;
}

#volumeSlideOutFooter {
  cursor: pointer;
}

/* Other custom page styling */
#navbar {
  margin: 50px;
}

.btn {
  border-radius:5px;
}

.jumbotron {
  padding-top:10px;
  padding-bottom:10px
  width:100%;
}