<!-- The Configuration Wizard -->
<section>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h2>Browse Applications</h2>
      
      <ol class="breadcrumb">
        <li><a href="#/home">NDS Labs</a></li>
        <li class="active">Browse Applications</li>
      </ol>
      
      <!-- Application Search / Filter -->
      <div class="input-group">
        <span class="input-group-addon" id="searchHeader"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control" placeholder="Filter applications..." ng-model="svcQuery" 
            aria-describedby="searchHeader" />
            
        <span class="input-group-addon">
          <input type="checkbox" ng-model="showStandalones" uib-tooltip="Show standalone services" tooltip-placement="top-right">
        </span>
      </div>
      
      <!-- TODO: Remove this! -->
      <select class="form-control" ng-model="mode" class="pull-right">
        <option value="cards">Cards</option>
        <option value="table">Table</option>
      </select>
      
      <p class="text-center text-danger" ng-show="(specs | isStack:showStandalones | filter : svcQuery).length === 0">
        <small>No applications matched your search</small>
      </p>
      <p class="text-center text-success" ng-show="(specs | isStack:showStandalones | filter : svcQuery).length !== 0">
        <small>Choose an application below to configure</small>
      </p>
      
      <!-- Table -->
      <table ng-show="mode === 'table'" class="table table-hover table-striped" ng-hide="(specs | filter : svcQuery).length === 0">
        <thead>
          <tr>
            <th><label>Name</label></th>
            <th><label>Description</label></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="cursor-pointer" ng-repeat="spec in specs | isStack:showStandalones | orderBy:'label' | filter : svcQuery track by spec.key">
            <td width="15%">
              {{ spec.label }}
            </td>
            <td width="60%">
              {{ spec.description }}
            </td>
            <td width="25%">
              <div ng-if="spec.installCount > 0 && spec.installProgress >= installMax" class="pull-right">
                <button class="btn btn-xs btn-primary pull-right" ng-click="goto('/home')">
                  <i class="fa fa-fw fa-eye"></i> View
                </button>
                <button class="btn btn-xs btn-default" ng-click="install(spec)">
                  <i class="fa fa-fw fa-repeat"></i> Install ({{ spec.installCount }} installed)
                </button>
              </div>
              <button ng-if="!spec.installCount || spec.installProgress < installMax" ng-disabled="spec.installProgress > 0" class="btn btn-xs btn-primary pull-right" ng-click="install(spec)">
                <span ng-if="!spec.installProgress">
                  <i class="fa fa-fw fa-hand-pointer-o"></i> Install
                </span>
                
                <!-- Show "install" progress -->
                <div class="row" ng-if="spec.installProgress">
                  <div class="col-sm-6">
                    <span>
                      <i class="fa fa-fw fa-spinner fa-spin"></i> Installing...
                    </span>
                  </div>
                  <div class="col-sm-6" ng-if="spec.installProgress > 0 && spec.installProgress < installMax">
                    <div class="progress" style="margin:3px;min-width:75px;">
                      <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="{{ spec.installProgress }}"
                          aria-valuemin="0" aria-valuemax="{{ installMax }}" style="width:{{ 100 * spec.installProgress / installMax }}%;">
                        <span class="sr-only">{{ spec.installProgress }}% Complete</span>
                      </div>
                    </div>
                  </div>
                </div>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      
      <!-- Cards -->
      <div ng-show="mode === 'cards'" class="panel-body">
        <div >
          <div class="row table-row" ng-repeat="set in chunkedSpecs">
           <div class="col-sm-3" ng-repeat="spec in set">
              <div class="thumbnail" ng-class="{ 'bg-primary': selectedSpec === spec}">
                <!--<img ng-if="spec.key === 'clowder'" height="44" width="200" src="https://medici.ncsa.illinois.edu/img/logo.png" alt="Clowder">
                <img ng-if="spec.key === 'dataverse'" height="44" width="200" src="http://www.worldagroforestry.org/open-access-week/img/logos/dataverse.png" alt="Dataverse">
                <img ng-if="spec.key === 'icat'" height="44" width="200"  src="http://bionics.it/site/assets/files/1050/irods-logo.200x0-is.png" alt="iRODS iCAT">
                <img ng-if="spec.key === 'kibana'" height="44" width="200" src="https://raw.githubusercontent.com/1science/docker-kibana/latest/logo.png" alt="Kibana">-->
                <div class="caption">
                  <h4>{{ spec.label }}</h4>
                  <p>{{ spec.description }}</p>
                  <p>
                    <div class="row">
                      <div class="col-sm-12">
                        <div ng-if="spec.installCount > 0 && spec.installProgress >= installMax" class="pull-right">
                          <button class="btn btn-xs btn-primary pull-right" ng-click="goto('/home')">
                            <i class="fa fa-fw fa-eye"></i> View
                          </button>
                          <button class="btn btn-xs btn-default" ng-click="install(spec)">
                            <i class="fa fa-fw fa-repeat"></i> Install ({{ spec.installCount }} installed)
                          </button>
                        </div>
                        <button ng-if="!spec.installCount || spec.installProgress < installMax" ng-disabled="spec.installProgress > 0" class="btn btn-xs btn-primary pull-right" ng-click="install(spec)">
                          <span ng-if="!spec.installProgress">
                            <i class="fa fa-fw fa-hand-pointer-o"></i> Install
                          </span>
                          
                          <!-- Show "install" progress -->
                          <div class="row" ng-if="spec.installProgress">
                            <div class="col-xs-6">
                              <span ng-if="spec.installProgress > 0 && spec.installProgress < installMax" >
                                <i class="fa fa-fw fa-spinner fa-spin"></i> Installing...
                              </span>
                            </div>
                            <div class="col-xs-6">
                              <div class="progress" style="margin:3px;"style="margin:0;">
                                <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="{{ spec.installProgress }}"
                                    aria-valuemin="0" aria-valuemax="{{ installMax }}" style="width:{{ 100 * spec.installProgress / installMax }}%;">
                                  <span class="sr-only">{{ spec.installProgress }}% Complete</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </button>
                      </div>
                    </div>
                    
                    <!--<a ng-click="install(spec)" class="btn btn-primary" role="button"><i class="fa fa-hand-pointer-o fa-sm fa-fw"></i> Install</a>-->
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</section>
