<!-- The Login View -->
<section>
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6 text-center">
      <!--<button type="button" class="btn btn-xs btn-default pull-right" data-dismiss="modal" aria-label="Close" ng-click="close()"><i class="fa fa-fw fa-times"></i></button>-->
      <h3><i class="fa fa-fw fa-unlock-alt"></i> Sign Into {{ productName }}</h3>
      
      <ol class="breadcrumb">
        <li><a ng-href="/landing/{{ rd ? '?rd=' + rd : '' }}">{{ productName }}</a></li> 
        <li class="active">Sign In</li>
      </ol>
    </div>
  </div>
  
  <div class="col-xs-offset-3 col-xs-6 text-center alert alert-danger" role="alert" ng-if="enableOAuth">
    <p>This login form will not function as expected since OAuth sign-in is currently enabled.</p>
    <p>Please proceed to the <a ng-href="{{ signinLink }}">OAuth sign-in page</a> to access the Workbench.</p>
  </div>
  
  <!-- Main Panel -->
  <div class="panel panel-primary" id="loginPanel">
    <div class="panel-heading">
      <small class="pull-right"><a class="btn btn-xs" ng-style="{ color: hover ? 'blue' : 'white', 'cursor': enableOAuth ? 'not-allowed' : 'pointer' }" id="forgotPasswordLink" ng-click="clickForgotPasswordLink()">Forgot your password?</a></small>
      <h3 class="panel-title"><i class="fa fa-fw fa-unlock-alt"></i> Sign In</h3>
    </div>
    
    <!-- Login Form -->
    <div class="panel-body">
      <form class="form-horizontal" ng-submit="login()">

        <!-- Namespace Field -->
        <div class="form-group">
          <!--<label for="inputNamespace" class="col-sm-4 control-label">Username</label>-->
          <div class="col-sm-12">
            <input type="text" class="form-control" id="inputNamespace" placeholder="Username or E-mail Address" ng-disabled="enableOAuth" ng-model="settings.namespace">
          </div>
        </div>

        <!-- Password Field -->
        <div class="form-group">
          <!--<label for="inputPassword" class="col-sm-4 control-label">Password</label>-->
          <div class="col-sm-12">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-disabled="enableOAuth" ng-model="settings.password">
          </div>
        </div>
        
        <!-- Login Button -->
        <div class="row">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-primary" id="loginBtn" style="width:100%" ng-disabled="enableOAuth">Sign In <i class="fa fa-fw fa-sign-in"></i></button>
          </div>
        </div>
        
        <!-- Create Account Button -->
        <div class="row">
          <div class="col-xs-12 text-center">
            <small>
              <a ng-click="clickCreateAccountLink()" id="requestAccessLink" ng-style="{ 'cursor': enableOAuth ? 'not-allowed' : 'pointer' }"><i class="fa fa-fw fa-user-plus"></i> Don't have an account yet? Request access here!</a>
            </small>
          </div>
        </div>

        <!-- Progress / Error Messages -->
        <div class="text-center">
          <p class="text-danger" ng-if="errorMessage">
            {{ errorMessage }}
          </p>
          <p class="text-primary" ng-if="progressMessage">
            <i class="fa fa-fw fa-spinner fa-spin"></i> {{ progressMessage }}
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
