<!-- The "Stack Rename" Modal -->
<section id="stackRenameModal">
  <form name="renameStack" ng-submit="confirm()">
    <div class="modal-header">
      <button id="closeBtn" type="button" class="btn btn-default pull-right btn-xs" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><i class="fa fa-fw fa-times"></i></button>
      <h4 class="modal-title">Rename Application Instance</h4>
    </div>
    
    <div class="modal-body">
      <p>Enter a new label for your application:</p>
      <input id="nameInput" class="form-control" type="text" name="nameField" ng-model="stack.name" required />
      <ng-messages class="text-danger" for="renameStack.nameField.$error" role="alert">
        <ng-message when="required">This field is required</ng-message>
      </ng-messages>
    </div>
    
    <div class="modal-footer">
      <div class="col-sm-6">
        <button id="cancelBtn" class="btn btn-default pull-left" data-dismiss="modal" ng-click="close()"><i class="fa fa-fw fa-times"></i> Cancel</button>
      </div>
      
      <div class="col-sm-6">
        <button id="confirmBtn" type="submit" class="btn btn-primary pull-right" data-dismiss="modal" ng-disabled="renameStack.$invalid">
          <i class="fa fa-fw fa-check"></i> Confirm
        </button>
      </div>
    </div>
  </form>
</section>