<!-- The Catalog / AppStore View-->
<section>
  <div class="row">
    <div class="col-xs-12">
      <h3>Catalog</h3>
      
      <ol class="breadcrumb">
        <!-- <li><a ng-href="{{ productUrl }}">{{ productName }}</a></li> -->
        <li><a href="/landing/#/">{{ productName }}</a></li>
        <li><a href="/dashboard/#/home">Applications</a></li>
        <li class="active">Catalog</li>
      </ol>
        
      <!-- Application Search / Filter -->
      <div class="input-group">
        <span class="input-group-addon" id="searchHeader"><i class="fa fa-search"></i></span>
        <tags-input  id="filterTagsInput" class="form-control" ng-model="tags.selected" style="border:none;padding:0;margin-top:0"
                display-property="name" 
                placeholder="Filter applications..." 
                replace-spaces-with-dashes="false"
                aria-describedby="searchHeader"
                template="tag-template">
            <auto-complete id="filterTagsInputAutoComplete" source="loadTags($query)"
                           min-length="1"
                           load-on-focus="true"
                           load-on-empty="false"
                           max-results-to-show="32"
                           template="autocomplete-template"></auto-complete>
          </tags-input>
        
        <div class="input-group-btn">
          <button id="toggleCardsBtn" type="button" class="btn btn-default" style="border-radius:0 !important;" ng-click="showCards = !showCards">
            <i id="viewAsIcon" class="fa fa-fw" ng-class="{ 'fa-table': showCards, 'fa-list': !showCards }"></i>
          </button>
        </div>
        <div class="input-group-btn">
          <button id="importApplicationBtn" type="button" class="btn btn-secondary" ng-click="openImport()" style="border-radius:0;">
            <i class="fa fa-fw fa-upload"></i> Import
          </button>
        </div>
        <div class="input-group-btn">
          <a id="createApplicationBtn" type="button" class="btn btn-primary" href="/dashboard/#/store/add">
            <i class="fa fa-fw fa-plus"></i> Create
          </a>
        </div>
      </div>
          
      <script type="text/ng-template" id="tag-template">
        <div class="tag-template">
          <a class="remove-button" ng-click="$removeTag()"><i class="fa fa-fw fa-times"></i></a>
          <span>{{$getDisplayText()}}</span>
        </div>
      </script>
      
      <script type="text/ng-template" id="autocomplete-template">
        <div class="autocomplete-template">
          <div ng-bind-html="$highlight($getDisplayText())"></div>
          <small>{{data.definition}}</small>
        </div>
      </script>
      
      <p class="text-center text-danger" ng-show="(specs | display | showTags:tags.selected).length === 0">
        No applications matched your search
      </p>
      <p class="text-center text-success" ng-show="(specs | display | showTags:tags.selected).length !== 0">
        Choose an application below to configure
      </p>
      
      <!-- Table -->
      <table ng-if="!showCards" class="table table-hover table-striped" ng-hide="(specs | display | showTags:tags.selected).length === 0">
        <thead>
          <tr>
            <th width="20%"><label>Name</label></th>
            <th width="5%"><label>Source</label></th>
            <th width="40%"><label>Description</label></th>
            <th width="30%"></th>
            <th width="5%"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="spec in specs | display | showTags:tags.selected | orderBy:'label' track by spec.key">
            <th>
              {{ spec.label }}
            </th>
            
            <td>
              <i class="fa fa-fw" tooptip-placement="top-right" uib-tooltip="Source: {{ spec.catalog | capitalize }}" ng-class="{ 'fa-user': spec.catalog === 'user', 'fa-server': spec.catalog === 'system' }"></i>
            </td>
            
            <td>
              {{ spec.description }}
            </td>
            
            <td>
              <!-- Show "install" progress -->
              <div class="progress" style="margin:3px;min-width:75px;" ng-if="installs[spec.key].progress > 0">
                <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar" aria-valuenow="{{ installs[spec.key].progress }}"
                    aria-valuemin="0" aria-valuemax="{{ installMax }}" style="width:{{ 100 * installs[spec.key].progress / installMax }}%;">
                      {{ installs[spec.key].progress < installMax ? (100 * (installs[spec.key].progress / installMax)) : '100'  | number:0 }}%
                </div>
              </div>
                
              <div class="pull-right">
                <!-- Install button -->
                <button id="addBtn" ng-if="installs[spec.key].progress === 0" ng-disabled="installs[spec.key].progress > 0" 
                    class="btn btn-xs" ng-click="install(spec)" ng-class="{ 'btn-primary':installs[spec.key].count === 0, 'btn-default':installs[spec.key].count > 0 }" >
                  <i class="fa fa-fw" ng-class="{ 'fa-magic': installs[spec.key].count === 0, 'fa-repeat':installs[spec.key].count > 0 }"></i>
                  Add 
                  <span ng-if="installs[spec.key].count > 0">
                    ({{ installs[spec.key].count }} added)
                  </span>
                </button>
                
                <a id="viewBtn" type="button" class="btn btn-xs btn-primary" ng-href="/dashboard/#/home?expand={{ spec.key }}" ng-if="installs[spec.key].count > 0">
                  <i class="fa fa-fw fa-eye"></i> View
                </a>
                
                <!-- Simple dropdown -->
                <span id="moreActionsDropdown" uib-dropdown on-toggle="toggled(open)">
                  <small>
                    <a href id="simple-dropdown" class="btn btn-xs btn-link" uib-dropdown-toggle>
                      More <i class="fa fa-chevron-down"></i>
                    </a>
                  </small>
                  <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu aria-labelledby="simple-dropdown">
                    <li><a id="cloneBtn" href ng-click="cloneSpec(spec)" ng-if="!spec.privileged"><i class="fa fa-fw fa-clone"></i> Clone</a></li>
                    <li><a id="copyToClipboardBtn" href ng-click="copyToClipboard(spec)"><i class="fa fa-fw fa-clipboard"></i> Copy to Clipboard</a></li>
                    <li><a id="qsLinkBtn" href ng-click="shareLink(spec)" ng-if="spec.catalog === 'system'"><i class="fa fa-fw fa-share-alt"></i> Generate QuickStart Link</a></li>
                    <li><a id="embedLinkBtn" href ng-click="shareEmbed(spec)" ng-if="spec.catalog === 'system'"><i class="fa fa-fw fa-share-alt-square"></i> Generate QuickStart HTML Snippet</a></li>
                    <li><a id="viewJsonBtn" href ng-click="openExport(spec)"><i class="fa fa-fw fa-code"></i> View JSON</a></li>
                    <li ng-if="spec.info"><a id="viewDocsBtn" ng-href="{{ spec.info }}" target="_blank"><i class="fa fa-fw fa-newspaper-o"></i> View Documentation</a></li>
                    <li ng-class="{ 'disabled': (spec.key | stackExistsFromSpec) }" ng-if="spec.catalog === 'user'"><a id="editBtn" ng-href="/dashboard/#/store/edit/{{ spec.key }}" ><i class="fa fa-fw fa-pencil"></i> Edit</a></li>
                    <li ng-class="{ 'disabled': (spec.key | stackExistsFromSpec) }" ng-if="spec.catalog === 'user'"><a id="deleteBtn" href ng-click="openDelete(spec)"><i class="fa fa-fw fa-trash"></i> Delete</a></li>
                  </ul>
                </span>
              </div>
            </td>
            
            <td>
              <a id="helpLink" class="pull-right" target="_blank" ng-if="spec.info" ng-href="{{ spec.info }}"><i class="fa fa-fw fa-question-circle-o"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
      
      <!-- Cards -->
      <div ng-if="showCards" class="panel-body">
        <div id="cardRow" class="row" ng-repeat="set in chunkedSpecs">
          <div class="col-sm-4" ng-repeat="spec in set" style="height:100%;">
            <div class="thumbnail">
              <div class="media">
                <!-- Logo -->
                <div class="media-left">
                  <a id="logoLink" ng-href="{{ spec.info }}" target="_blank">
                    <img ng-if="spec.logo" style="margin:15px;max-height:64px;max-width:64px;min-height:64px;min-width:64px;" class="pull-right" ng-src="{{ spec.logo }}" alt="{{ spec.key }}" />
                  </a>
                </div>
                
                <!-- Name / Description -->
                <div class="media-body caption">
                  <a id="helpLink" class="pull-right" target="_blank" ng-if="spec.info" ng-href="{{ spec.info }}"><i class="fa fa-fw fa-question-circle-o"></i></a>
                  <h4 class="media-heading">{{ spec.label }}</h4>
                  <p><small>{{ spec.description }}</small></p>
                </div>
              </div>
              
              <!-- Tags -->
              <div class="row" style="margin:0;padding:0;">
                <small class="pull-right" uib-tooltip="Source: {{ spec.catalog | capitalize }}" tooltip-placement="left"><small><i class="fa fa-fw" ng-class="{ 'fa-user': spec.catalog === 'user', 'fa-server': spec.catalog === 'system' }"></i> {{ spec.key }}</small></small>
                <div class="pull-left">
                  <div class="text-center" style="padding:0;">
                    <button id="tag{{ $index }}" style="padding:0 4px 0 4px;margin:0 4px 0 4px;" class="btn btn-xs btn-default" 
                        ng-repeat="tag in spec.tags" ng-click="addFilterTag(tag)" 
                        uib-tooltip="{{ tag | tagProperty:'definition' }}">
                      <small>{{ tag | tagProperty:'name' }}</small>
                    </button>
                  </div>
                </div>
              </div>
              
              <!-- "Install" progress -->
              <!-- TODO: Add these to CSS -->
              <div class="row" style="margin:0;padding:0;" ng-if="installs[spec.key].progress > 0">
                <div class="row" style="margin:8px 12px 8px 12px;border: 1px solid lightgray;border-radius:15px;">
                  <span class="progress" style="horizontal-align:center;width:63px;margin:0;padding:0;height:18px;border-radius:15px;">
                    <div class="progress-bar progress-bar-primary progress-bar-striped active"  style="margin:0;padding:0;height:18px;border-radius:15px;" role="progressbar" aria-valuenow="{{ installs[spec.key].progress }}"
                        aria-valuemin="1" aria-valuemax="{{ installMax }}" ng-style="{ 'width': 100 * installs[spec.key].progress / installMax + '%' }">
                      {{ installs[spec.key].progress < installMax ? (100 * (installs[spec.key].progress / installMax)) : '100'  | number:0 }}%
                    </div>
                  </span>
                </div>
              </div>
              
              <!-- Button Bar -->
              <div id="cardButtonBar" class="row" ng-if="installs[spec.key].progress === 0">
                <div class="col-xs-10">
                  
                  <!-- View Instance(s) -->
                  <a id="viewBtn" class="btn btn-xs btn-link" ng-if="installs[spec.key].count > 0" ng-href="/dashboard/#/home?expand={{ spec.key }}" style="margin:7px;">
                    View <span class="badge" style="margin-left:4px" ng-if="installs[spec.key].count > 0">{{ installs[spec.key].count }}</span>
                  </a>
                  
                  <!-- Install button -->
                  <button id="addBtn"ng-disabled="installs[spec.key].progress > 0" ng-if="installs[spec.key].progress === 0" style="margin:7px;"
                      class="btn btn-xs btn-link" ng-click="install(spec)">
                    Add
                  </button>
                </div>
                
                <div class="col-xs-2">
                  <!-- More Actions Dropdown -->
                  <span  id="moreActionsDropdown" uib-dropdown on-toggle="toggled(open)">
                    <small>
                      <a href id="simple-dropdown" class="btn btn-xs btn-link" uib-dropdown-toggle>
                        <i class="fa fa-chevron-down"></i>
                      </a>
                    </small>
                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu aria-labelledby="simple-dropdown">
                      <li><a id="cloneBtn" href ng-click="cloneSpec(spec)" ng-if="!spec.privileged"><i class="fa fa-fw fa-clone"></i> Clone</a></li>
                      <li><a id="copyToClipboardBtn" href ng-click="copyToClipboard(spec)"><i class="fa fa-fw fa-clipboard"></i> Copy to Clipboard</a></li>
                      <li><a id="qsLinkBtn" href ng-click="shareLink(spec)" ng-if="spec.catalog === 'system'"><i class="fa fa-fw fa-share-alt"></i> Generate QuickStart Link</a></li>
                      <li><a id="embedLinkBtn" href ng-click="shareEmbed(spec)" ng-if="spec.catalog === 'system'"><i class="fa fa-fw fa-share-alt-square"></i> Generate QuickStart HTML Snippet</a></li>
                      <li><a id="viewJsonBtn" href ng-click="openExport(spec)"><i class="fa fa-fw fa-code"></i> View JSON</a></li>
                      <li ng-if="spec.info"><a id="viewDocsBtn" ng-href="{{ spec.info }}" target="_blank"><i class="fa fa-fw fa-newspaper-o"></i> View Documentation</a></li>
                      <li ng-class="{ 'disabled': (spec.key | stackExistsFromSpec) }" ng-if="spec.catalog === 'user'"><a id="editBtn" ng-href="/dashboard/#/store/edit/{{ spec.key }}" ><i class="fa fa-fw fa-pencil"></i> Edit</a></li>
                      <li ng-class="{ 'disabled': (spec.key | stackExistsFromSpec) }" ng-if="spec.catalog === 'user'"><a id="deleteBtn" href ng-click="openDelete(spec)"><i class="fa fa-fw fa-trash"></i> Delete</a></li>
                    </ul>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</section>

