<!-- The Login View -->
<section>
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6 text-center">
      <!--<button type="button" class="btn btn-xs btn-default pull-right" data-dismiss="modal" aria-label="Close" ng-click="close()"><i class="fa fa-fw fa-times"></i></button>-->
      <h3><i class="fa fa-fw fa-lock"></i> Reset Your Password</h3>
      
      <ol class="breadcrumb" ng-if="token">
        <li><a href="#/">{{ productName }}</a></li>
        <li class="active">Change Password</li>
      </ol>
  
      <ol class="breadcrumb" ng-if="!token">
        <li><a ng-href="#/">{{ productName }}</a></li>
        <li><a href="#/login">Sign In</a></li>
        <li class="active">Forgot Password</li>
      </ol>
    </div>
  </div>
  
  <div style="margin-top:50px;">
    <div class="row" ng-if="!token && !resetSendSuccessful">
      <div class="col-xs-offset-4 col-xs-4">
        <form name="sendPassResetForm" ng-submit="sendResetLink()">
          <!-- Enter E-mail -->
          <div class="form-group">
            <label for="accountId">Username</label>
            <input type="text" class="form-control" name="accountId" id="accountId"
                ng-model="password.accountId" placeholder="Username" required>
            
            <div class="alert-danger" ng-if="!sendPassResetForm.accountId.$pristine" ng-messages="sendPassResetForm.accountId.$error">
              <div ng-message="required">You must enter a username.</div>
            </div>
          </div>
        
          <button id="submitUsernameBtn" type="submit" class="btn btn-primary" ng-disabled="!password.accountId">Reset Password</button>
        </form>
      </div>
    </div>
      
    <div class="row" ng-show="!token && resetSendSuccessful" id="emailSentHelperText">
      <div class="col-sm-12">
        <div class="helper-text">
          <h2><i class="fa fa-fw fa-square-o text-warning"></i>An e-mail has been sent to the owner of this account</h2>
          <h4>Follow the link in the e-mail to reset your password</h4>
        </div>
      </div>
    </div>
      
    <div class="row" ng-if="token && !resetSuccessful" >
      <div class="col-xs-offset-4 col-xs-4">
        <form name="resetPassForm" ng-submit="resetPassword()">
          <!-- Choose a new password -->
          <div class="form-group" ng-class="{ 
              'has-error has-feedback': !resetPassForm.password.$pristine && resetPassForm.password.$invalid, 
              'has-success has-feedback': !resetPassForm.password.$pristine && resetPassForm.password.$valid }">
            <label for="password">Choose a New Password</label>
            <input type="password" class="form-control" name="password" id="password"
                ng-model="password.password" placeholder="Password" required minlength="6">
            <span class="form-control-feedback glyphicon" ng-if="!resetPassForm.password.$pristine"
                ng-class="{ 'glyphicon-remove': resetPassForm.password.$invalid, 'glyphicon-ok': resetPassForm.password.$valid }"></span>
                    
            <div class="alert-danger" ng-if="!resetPassForm.password.$pristine" ng-messages="resetPassForm.password.$error">
              <div ng-message="required">You must enter a password.</div>
              <div ng-message="pattern">Password may not contain spaces.</div>
              <div ng-message="minlength,maxlength">Password must be at least 6 characters.</div>
            </div>
          </div>
          
          <!-- Confirm new password -->
          <div class="form-group" ng-class="{ 
              'has-error has-feedback': !resetPassForm.passwordConf.$pristine && resetPassForm.passwordConf.$invalid, 
              'has-success has-feedback': !resetPassForm.passwordConf.$pristine && resetPassForm.passwordConf.$valid }">
            <label for="passwordConf">Confirm New Password</label>
            <input type="password" class="form-control" name="passwordConf" id="passwordConf"
                ng-model="password.confirmation" placeholder="Confirm Password" required minlength="6" pattern="{{ password.password }}">
            <span class="form-control-feedback glyphicon" ng-if="!resetPassForm.passwordConf.$pristine"
                ng-class="{ 'glyphicon-remove': resetPassForm.passwordConf.$invalid, 'glyphicon-ok': resetPassForm.passwordConf.$valid }"></span>
                
                
            <div class="alert-danger" ng-if="!resetPassForm.passwordConf.$pristine" ng-messages="resetPassForm.passwordConf.$error">
              <div ng-message="required">You must enter a password.</div>
              <div ng-message="pattern">Passwords do not match.</div>
              <div ng-message="minlength,maxlength">Password must be at least 6 characters.</div>
            </div>
          </div>
          
          <button id="submitPasswordBtn" type="submit" class="btn btn-primary" ng-disabled="!password.password || !password.confirmation">Change Password</button>
        </form>
      </div>
    </div>
    
    <div class="row" ng-show="token && resetSuccessful" id="passwordChangedHelperText">
      <div class="col-sm-12">
        <div class="helper-text">
          <h2><i class="fa fa-fw fa-check-square-o text-success"></i>Your password has been successfully changed!</h2>
          <h4>The next time you log into this account, you should use the password you've just specified</h4>
        </div>
      </div>
    </div>
  </div>
</section>
