<!-- The Catalog / AppStore View-->
<section>
  <div class="row">
    <div class="col-xs-12">
      <h3>Browse Applications</h3>
      
      <ol class="breadcrumb">
        <li><a href="#/home">Dashboard</a></li>
        <li class="active">Browse Applications</li>
      </ol>
      
      <!-- Application Search / Filter -->
      <div class="input-group">
        <span class="input-group-addon" id="searchHeader"><i class="fa fa-search"></i></span>
        <tags-input class="form-control" ng-model="tags.selected" style="border:none;padding:0;margin-top:0"
                display-property="name" 
                placeholder="Filter applications..." 
                replace-spaces-with-dashes="false"
                aria-describedby="searchHeader"
                template="tag-template">
            <auto-complete source="loadTags($query)"
                           min-length="1"
                           load-on-focus="true"
                           load-on-empty="false"
                           max-results-to-show="32"
                           template="autocomplete-template"></auto-complete>
          </tags-input>
            
        <span class="input-group-addon">
          <input type="checkbox" ng-model="showStandalones" uib-tooltip="Show standalone services" tooltip-placement="top-right">
        </span>
        
        <div class="input-group-btn">
          <button type="button" class="btn btn-default" style="border-radius:0 !important;" ng-click="showCards = !showCards">
            <span ng-if="showCards"><i class="fa fa-fw fa-table"></i></span>
            <span ng-if="!showCards"><i class="fa fa-fw fa-list"></i></span>
          </button>
        </div>
        <div class="input-group-btn">
          <button type="button" class="btn btn-secondary" ng-click="openImport()" style="border-radius:0;">
            <i class="fa fa-fw fa-upload"></i> Import
          </button>
        </div>
        <div class="input-group-btn">
          <a type="button" class="btn btn-primary" href="#/store/add">
            <i class="fa fa-fw fa-plus"></i> Create
          </a>
        </div>
      </div>
          
          <script type="text/ng-template" id="tag-template">
            <div class="tag-template">
              <a class="remove-button" ng-click="$removeTag()"><i class="fa fa-fw fa-times"></i></a>
              <span>{{$getDisplayText()}}</span>
            </div>
          </script>
          
          <script type="text/ng-template" id="autocomplete-template">
            <div class="autocomplete-template">
              <div ng-bind-html="$highlight($getDisplayText())"></div>
              <small>{{data.definition}}</small>
            </div>
          </script>
        </div>
      </div>
      
      <p class="text-center text-danger" ng-show="(specs | isStack:showStandalones | showTags:tags.selected).length === 0">
        No applications matched your search
      </p>
      <p class="text-center text-success" ng-show="(specs | isStack:showStandalones | showTags:tags.selected).length !== 0">
        Choose an application below to configure
      </p>
      
      <!-- Table -->
      <table ng-if="!showCards" class="table table-hover table-striped" ng-hide="(specs | isStack:showStandalones | showTags:tags.selected).length === 0">
        <thead>
          <tr>
            <th><label>Name</label></th>
            <th><label>Source</label></th>
            <th><label>Description</label></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="spec in specs | isStack:showStandalones | showTags:tags.selected | orderBy:'label' track by spec.key">
            <th width="20%">
              {{ spec.label }}
            </th>
            
            <td class="5%">
              <i class="fa fa-fw" tooptip-placement="top-right" uib-tooltip="Source: {{ spec.catalog | capitalize }}" ng-class="{ 'fa-user': spec.catalog === 'user', 'fa-server': spec.catalog === 'system' }"></i>
            </td>
            
            <td width="45%">
              {{ spec.description }}
            </td>
            
            <td width="30%">
              <!-- Show "install" progress -->
              <div class="progress" style="margin:3px;min-width:75px;" ng-if="installs[spec.key].progress > 0">
                <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar" aria-valuenow="{{ installs[spec.key].progress }}"
                    aria-valuemin="0" aria-valuemax="{{ installMax }}" style="width:{{ 100 * installs[spec.key].progress / installMax }}%;">
                      {{ installs[spec.key].progress < installMax ? (100 * (installs[spec.key].progress / installMax)) : '100'  | number:0 }}% Complete
                </div>
              </div>
                
              <div class="pull-right">
                <!-- Install button -->
                <button ng-if="installs[spec.key].progress === 0" ng-disabled="installs[spec.key].progress > 0" 
                    class="btn btn-xs" ng-click="install(spec)" ng-class="{ 'btn-primary':installs[spec.key].count === 0, 'btn-default':installs[spec.key].count > 0 }" >
                  <i class="fa fa-fw" ng-class="{ 'fa-magic': installs[spec.key].count === 0, 'fa-repeat':installs[spec.key].count > 0 }"></i>
                  Add 
                  <span ng-if="installs[spec.key].count > 0">
                    ({{ installs[spec.key].count }} added)
                  </span>
                </button>
                
                <a type="button" class="btn btn-xs btn-primary" ng-href="#/home?expand={{ spec.key }}" ng-if="installs[spec.key].count > 0">
                  <i class="fa fa-fw fa-eye"></i> View
                </a>
                
                <!-- Simple dropdown -->
                <span uib-dropdown on-toggle="toggled(open)">
                  <small>
                    <a href id="simple-dropdown" class="btn btn-xs btn-link" uib-dropdown-toggle>
                      More <i class="fa fa-chevron-down"></i>
                    </a>
                  </small>
                  <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu aria-labelledby="simple-dropdown">
                    <li><a href ng-click="cloneSpec(spec)"><i class="fa fa-fw fa-clone"></i> Clone</a></li>
                    <li><a href ng-click="copyToClipboard(spec)"><i class="fa fa-fw fa-clipboard"></i> Copy to Clipboard</a></li>
                    <li><a href ng-click="openExport(spec)"><i class="fa fa-fw fa-code"></i> Details</a></li>
                    <li ng-class="{ 'disabled': (spec.key | stackExistsFromSpec) }"><a ng-href="#/store/edit/{{ spec.key }}" ng-if="spec.catalog === 'user'"><i class="fa fa-fw fa-pencil"></i> Edit</a></li>
                    <li ng-class="{ 'disabled': (spec.key | stackExistsFromSpec) }"><a href ng-click="openDelete(spec)" ng-if="spec.catalog === 'user'"><i class="fa fa-fw fa-trash"></i> Delete</a></li>
                  </ul>
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      
      <!-- Cards -->
      <div ng-if="showCards" class="panel-body">
        <div id="cardRow" class="row" ng-repeat="set in chunkedSpecs">
          <div class="col-sm-{{ 12 / set.length }}" ng-repeat="spec in set">
            <div class="thumbnail" style="width:100%">
              <div class="pull-right" uib-tooltip="Source: {{ spec.catalog | capitalize }}" tooltip-placement="left">
                 <i class="fa fa-fw" ng-class="{ 'fa-user': spec.catalog === 'user', 'fa-server': spec.catalog === 'system' }" ></i>
                 <small>{{ spec.key }}</small>
              </div>
              
              <div class="caption">
                <img ng-if="spec.logo" style="height:44px;" ng-src="{{ spec.logo }}" alt="{{ spec.key }}">
                <h4>{{ spec.label }}</h4>
                <p>{{ spec.description }}</p>
              </div>
              
              <div class="text-center" id="catalogCardButtonBar">
                <!-- View Instance(s) -->
                <a class="btn btn-xs btn-primary" ng-if="installs[spec.key].count > 0" ng-href="#/home?expand={{ spec.key }}" style="margin:7px;">
                  <i class="fa fa-fw fa-search"></i> View
                </a>
                
                <!-- Install button -->
                <button ng-disabled="installs[spec.key].progress > 0" ng-if="installs[spec.key].progress === 0" style="margin:7px;"
                    class="btn btn-xs" ng-class="{ 'btn-primary':installs[spec.key].count === 0, 'btn-default':installs[spec.key].count > 0 }" ng-click="install(spec)">
                  <i class="fa fa-fw" ng-class="{ 'fa-plus': installs[spec.key].count === 0, 'fa-repeat': installs[spec.key].count > 0 }"></i> Add
                </button>
                
                <!-- More Actions Dropdown -->
                <span uib-dropdown on-toggle="toggled(open)">
                  <small>
                    <a href id="simple-dropdown" class="btn btn-xs btn-link" uib-dropdown-toggle>
                      More <i class="fa fa-chevron-down"></i>
                    </a>
                  </small>
                  <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu aria-labelledby="simple-dropdown">
                    <li><a href ng-click="cloneSpec(spec)"><i class="fa fa-fw fa-clone"></i> Clone</a></li>
                    <li><a href ng-click="copyToClipboard(spec)"><i class="fa fa-fw fa-clipboard"></i> Copy to Clipboard</a></li>
                    <li><a href ng-click="openExport(spec)"><i class="fa fa-fw fa-code"></i> View JSON</a></li>
                    <li ng-class="{ 'disabled': (spec.key | stackExistsFromSpec) }"><a ng-href="#/store/edit/{{ spec.key }}" ng-if="spec.catalog === 'user'"><i class="fa fa-fw fa-pencil"></i> Edit</a></li>
                    <li ng-class="{ 'disabled': (spec.key | stackExistsFromSpec) }"><a href ng-click="openDelete(spec)" ng-if="spec.catalog === 'user'"><i class="fa fa-fw fa-trash"></i> Delete</a></li>
                  </ul>
                </span>
                
                <!-- "Install" progress -->
                <!-- TODO: Add these to CSS -->
                <div class="row" style="margin-left:30px;margin-right:30px;border: 1px solid lightgrey;border-radius:15px;" ng-if="installs[spec.key].progress > 0">
                  <span class="progress" style="horizontal-align:center;width:63px;margin:0;padding:0;height:18px;border-radius:15px;"   style="margin:7px;">
                    <div class="progress-bar progress-bar-primary progress-bar-striped active"  style="margin:0;padding:0;height:18px;border-radius:15px;" role="progressbar" aria-valuenow="{{ installs[spec.key].progress }}"
                        aria-valuemin="1" aria-valuemax="{{ installMax }}" ng-style="{ 'width': 100 * installs[spec.key].progress / installMax + '%' }">
                      {{ installs[spec.key].progress < installMax ? (100 * (installs[spec.key].progress / installMax)) : '100'  | number:0 }}% Complete
                    </div>
                  </span>
                </div>
                
              </div>
              
              <div class="row">
                <div class="text-center" id="catalogCardButtonBar">
                  <small><span class="label label-info text-muted cursor-pointer" ng-repeat="tag in spec.tags" style="margin-left:4px;margin-right:4px;" ng-click="addFilterTag(tag)">{{ tag | tagProperty:'name' }}</span></small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</section>

