[Unit]
Description=Hipache Router
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill hipache
ExecStartPre=-/usr/bin/docker rm hipache
ExecStart=/usr/bin/docker run -d -p 80:80 --name hipache hipache

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=elastic_ip=true
