[Unit]
Description=Set etcd for irods-rest
BindsTo=irods-rest.service
After=irods-rest.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/sh -c "\
while true ; \
do \
   etcdctl set /proxy/proxies/irods-rest http://${COREOS_PRIVATE_IPV4}:$(docker port irodsrest1 80 | cut -f2 -d:) --ttl 60 ;\
   sleep 45;\
done"
ExecStop=/bin/sh -c "etcdctl rm /proxy/proxies/irods-rest"

[X-Fleet]
MachineOf=irods-rest.service
