[Unit]
Description=Kallithea
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=/bin/sh -c "/usr/bin/docker rm -f kallithea > /dev/null ; true"
ExecStartPre=/usr/bin/docker pull ndslabs/kallithea
ExecStart=/usr/bin/docker run \
    --name kallithea \
    --env-file=/etc/hubenv \
    -p 5000:5000 \
    ndslabs/kallithea
ExecStartPost=/usr/bin/etcdctl set /proxy/proxies/kallithea http://${COREOS_PRIVATE_IPV4}:5000/
ExecStop=/usr/bin/docker stop -t 5 kallithea
ExecStopPost=/usr/bin/etcdctl rm /proxy/proxies/kallithea

[X-Fleet]
MachineMetadata=elastic_ip=false
