[Unit]
Description=postgres-owncloud
After=docker.service
BindsTo=mnt-dbdata.mount
Requires=docker.service

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=/bin/sh -c "/usr/bin/docker kill db2 > /dev/null ; true"
ExecStartPre=/bin/sh -c "/usr/bin/docker rm db2 > /dev/null ; true"
ExecStartPre=/usr/bin/docker pull ndslabs/postgres-owncloud
ExecStart=/usr/bin/docker run \
	--env-file=/etc/hubenv \
	-v /mnt/dbdata/owncloud_data:/var/lib/postgresql/data \
	--name db2 \
	ndslabs/postgres-owncloud
ExecStop=/usr/bin/docker stop -t 1 db2

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=mounts=true
