<!-- The SignUp Modal -->
<section>
  <form name="forms['registerForm']" ng-submit="signUp(newProject)">
    <div class="row">
      <div class="col-xs-offset-3 col-xs-6 text-center">
        <!--<button type="button" class="btn btn-xs btn-default pull-right" data-dismiss="modal" aria-label="Close" ng-click="close()"><i class="fa fa-fw fa-times"></i></button>-->
        <h3><i class="fa fa-fw fa-user-plus"></i> Request Access to {{ productName }}</h3>
        
        <ol class="breadcrumb">
          <li><a href="#/">{{ productName }}</a></li>
          <li><a href="#/login">Sign In</a></li>
          <li class="active">Sign Up</li>
        </ol>
      </div>
    </div>
    
    <!-- Registration Form -->
    <div ng-if="!showVerify">
      
      <!-- Contact Info -->
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">           
          <!-- Enter Full Name -->
          <div class="form-group" ng-class="{ 
              'has-error has-feedback': !forms['registerForm'].fullName.$pristine && forms['registerForm'].fullName.$invalid, 
              'has-success has-feedback': !forms['registerForm'].fullName.$pristine && forms['registerForm'].fullName.$valid }">
            <label for="fullName">Full Name *</label>
            <input type="text" class="form-control" name="fullName" id="fullName" 
                ng-model="newProject.name" placeholder="Full Name" required />
            <span class="form-control-feedback glyphicon" ng-if="!forms['registerForm'].fullName.$pristine"
                ng-class="{ 'glyphicon-remove': forms['registerForm'].fullName.$invalid, 'glyphicon-ok': forms['registerForm'].fullName.$valid }"></span>
                
            <div class="text-danger" ng-if="!forms['registerForm'].fullName.$pristine" ng-messages="forms['registerForm'].fullName.$error">
              <div ng-message="required">You must choose a name for this project.</div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <!-- Enter E-mail -->
          <div class="form-group" ng-class="{ 
              'has-error has-feedback': !forms['registerForm'].email.$pristine && forms['registerForm'].email.$invalid, 
              'has-success has-feedback': !forms['registerForm'].email.$pristine && forms['registerForm'].email.$valid }">
            <label for="email">E-mail Address *</label>
                
            <div class="input-group">
              <input type="email" class="form-control" name="email" id="email" ng-model-options="{ 'debounce': 400, }"
                  ng-model="newProject.email" placeholder="E-mail Address" required aria-describedby="gravatar-addon" />
              <span class="input-group-addon" id="gravatar-addon" tooltip-placement="left" uib-tooltip="If your e-mail address has a Gravatar associated with it, it will be displayed in the {{ productName }} UI">
                <img gravatar-src="newProject.email" gravatar-size="20" style="border-radius:50px;">
              </span>
            </div>
            
            <span class="form-control-feedback glyphicon" ng-if="!forms['registerForm'].email.$pristine" style="right:45px;"
                ng-class="{ 'glyphicon-remove': forms['registerForm'].email.$invalid, 'glyphicon-ok': forms['registerForm'].email.$valid }"></span>
                
            <div class="text-danger" ng-if="!forms['registerForm'].email.$pristine" ng-messages="forms['registerForm'].email.$error">
              <div ng-message="required,email">You must enter a valid e-mail address.</div>
            </div>
            
            <small><small><i class="text-warning fa fa-fw fa-warning"></i> You will be required to verify this e-mail address.</small></small>
          </div>
        </div>
      </div>
      
      <!-- Intentions -->
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <!-- Enter Organization -->
          <div class="form-group" ng-class="{
              'has-error has-feedback': !forms['registerForm'].organization.$pristine && forms['registerForm'].organization.$invalid, 
              'has-success has-feedback': !forms['registerForm'].organization.$pristine && forms['registerForm'].organization.$valid }">
            <label for="organization">Organization *</label>
            <input type="text" class="form-control" name="organization" id="organization" 
                ng-model="newProject.organization" placeholder="Organization" required>
            <span class="form-control-feedback glyphicon" ng-if="!forms['registerForm'].organization.$pristine"
                ng-class="{ 'glyphicon-remove': forms['registerForm'].organization.$invalid, 'glyphicon-ok': forms['registerForm'].organization.$valid }"></span>
                
            <div class="text-danger" ng-if="!forms['registerForm'].organization.$pristine" ng-messages="forms['registerForm'].organization.$error">
              <div ng-message="required">Enter the name of your organization.</div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <div class="form-group" ng-class="{ 
              'has-error has-feedback': !forms['registerForm'].description.$pristine && forms['registerForm'].description.$invalid, 
              'has-success has-feedback': !forms['registerForm'].description.$pristine && forms['registerForm'].description.$valid }">
            <!-- Enter Description -->
            <label for="organization">Description *</label>
            <textarea class="form-control" rows="4" name="description" id="description"
                ng-model="newProject.description" placeholder="Describe how you plan to use {{ productName }}..." required></textarea>
            <span class="form-control-feedback glyphicon" ng-if="!forms['registerForm'].description.$pristine"
                ng-class="{ 'glyphicon-remove': forms['registerForm'].description.$invalid, 'glyphicon-ok': forms['registerForm'].description.$valid }"></span>
              
            <div class="text-danger" ng-if="!forms['registerForm'].description.$pristine" ng-messages="forms['registerForm'].description.$error">
              <div ng-message="required">Describe your reason(s) for using {{ productName }}.</div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Credentials -->
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <!-- Choose a username (namespace) -->
          <div class="form-group" ng-class="{ 
              'has-error has-feedback': !forms['registerForm'].namespace.$pristine && forms['registerForm'].namespace.$invalid, 
              'has-success has-feedback': !forms['registerForm'].namespace.$pristine && forms['registerForm'].namespace.$valid }">
            <label for="namespace">Choose a Username *</label>
            <input type="text" class="form-control" name="namespace" id="namespace"
                ng-model="newProject.namespace" placeholder="Username" required minlength="3" maxlength="20" pattern="[a-z0-9]+">
            <span class="form-control-feedback glyphicon" ng-if="!forms['registerForm'].namespace.$pristine"
                ng-class="{ 'glyphicon-remove': forms['registerForm'].namespace.$invalid, 'glyphicon-ok': forms['registerForm'].namespace.$valid }"></span>
                
            
            <div class="text-danger" ng-if="!forms['registerForm'].namespace.$pristine" ng-messages="forms['registerForm'].namespace.$error">
              <div ng-message="required">You must enter a username.</div>
              <div ng-message="pattern">Username may only contain lowercase alpha-numeric characters.</div>
              <div ng-message="minlength,maxlength">Username must be between 3 and 20 characters.</div>
            </div>
          </div>
        </div>
      </div>
        
      <!-- <sup><i class="fa fa-fw fa-question-circle"></i></sup> -->
      <div class="row">
        <div class="col-sm-offset-3 col-sm-3">
          <!-- Choose a password -->
          <div class="form-group" ng-class="{ 
              'has-error has-feedback': !forms['registerForm'].password.$pristine && forms['registerForm'].password.$invalid, 
              'has-success has-feedback': !forms['registerForm'].password.$pristine && forms['registerForm'].password.$valid }">
            <label for="password">Choose a Password *</label>
            <input type="password" class="form-control" name="password" id="password"
                ng-model="newProject.password" placeholder="Password" required minlength="6">
            <span class="form-control-feedback glyphicon" ng-if="!forms['registerForm'].password.$pristine"
                ng-class="{ 'glyphicon-remove': forms['registerForm'].password.$invalid, 'glyphicon-ok': forms['registerForm'].password.$valid }"></span>
                    
            <div class="text-danger" ng-if="!forms['registerForm'].password.$pristine" ng-messages="forms['registerForm'].password.$error">
              <div ng-message="required">You must enter a password.</div>
              <div ng-message="pattern">Password may not contain spaces.</div>
              <div ng-message="minlength,maxlength">Password must be at least 6 characters.</div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <!-- Confirm password -->
          <div class="form-group" ng-class="{ 
              'has-error has-feedback': !forms['registerForm'].passwordConf.$pristine && forms['registerForm'].passwordConf.$invalid, 
              'has-success has-feedback': !forms['registerForm'].passwordConf.$pristine && forms['registerForm'].passwordConf.$valid }">
            <label for="password">Confirm Your Password *</label>
            <input type="password" class="form-control" name="passwordConf" id="passwordConf"
                ng-model="newProject.passwordConfirmation" placeholder="Confirm Password" required minlength="6" pattern="{{ newProject.password }}">
            <span class="form-control-feedback glyphicon" ng-if="!forms['registerForm'].passwordConf.$pristine"
                ng-class="{ 'glyphicon-remove': forms['registerForm'].passwordConf.$invalid, 'glyphicon-ok': forms['registerForm'].passwordConf.$valid }"></span>
                
                
            <div class="text-danger" ng-if="!forms['registerForm'].passwordConf.$pristine" ng-messages="forms['registerForm'].passwordConf.$error">
              <div ng-message="required">You must enter a password.</div>
              <div ng-message="pattern">Passwords do not match.</div>
              <div ng-message="minlength,maxlength">Password must be at least 6 characters.</div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Progress / Error Message -->
      <div class="row">
        <div class="text-center col-sm-offset-3 col-sm-6">
          <p class="text-danger" ng-if="errorMessage">
            {{ errorMessage }}
          </p>
          <p class="text-primary" ng-if="progressMessage">
            <i class="fa fa-fw fa-spinner fa-spin"></i>{{ progressMessage }}
          </p>
        </div>
      </div>
      
      <!-- Link to Acceptable Use Policy -->
      <div class="row">
        <div class="text-center col-sm-offset-3 col-sm-6" style="margin-bottom:10px;">
          <strong>*</strong> denotes a required field.
        </div>
      </div>
      
      <!-- Link to Acceptable Use Policy -->
      <div class="row">
        <div class="text-center col-sm-offset-3 col-sm-6" style="margin-bottom:10px;">
          By submitting this form you agree to our <a ng-href="{{ eulaLink.url }}" target="_blank" id="usePolicyLink">{{ eulaLink.name | lowercase }}</a>.
        </div>
      </div>
      
      <!-- Submit Button -->
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <!--<button class="btn btn-default pull-left" data-dismiss="modal" ng-click="close()">Cancel</button>-->
          <button id="submitBtn" type="submit" class="btn btn-success" data-dismiss="modal" ng-disabled="namespaceExists || !forms['registerForm'].$valid">Request Access</button>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="helper-text" ng-if="showVerify">
        <h2 class="text-warning"><i class="fa fa-fw fa-square-o"></i>&nbsp;&nbsp;Almost there!</h2>
        <!--<h4>&nbsp;&nbsp;Thank you for registering for {{ productName }}</h4>-->
        <h4>Your request is not submitted until you confirm your e-mail address</h4>
      </div>
    </div>
  </form>
</section>
