<!-- The "Clone Spec" Modal -->
<section>
  <div class="modal-header">
    <button type="button" class="btn btn-default pull-right btn-xs" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><i class="fa fa-fw fa-times"></i></button>
    <h4 class="modal-title">Clone Application</h4>
  </div>
  <div class="modal-body">
    <p>Cloning an application allows you to make changes to it without affecting the existing catalog entry.</p>
    <p>Enter a new short name for the cloned application (for example "mongo" or "clowder"):</p>
    <form>
      <input class="form-control" type="text" ng-model="spec.key" placeholder required />
    </form>
  </div>
  <div class="modal-footer">
    <div class="col-sm-2">
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()"><i class="fa fa-fw fa-times"></i> Cancel</button>
    </div>
    
    <div class="col-sm-8 text-center">
      <p class="text-success" ng-if="nameIsValid">Desired name is unique.</p>
      <p class="text-danger" ng-if="!nameIsValid">Desired name is in use.</p>
    </div>
    
    <div class="col-sm-2">
      <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="clone()" ng-disabled="!nameIsValid"><i class="fa fa-fw fa-clone"></i> Clone</button>
    </div>
  </div>
</section>