<!-- The Log Viewer Modal -->
<section id="viewLogsModal">
  <div class="modal-header">
    <button id="closeBtn" type="button" class="btn btn-default pull-right btn-xs" data-dismiss="modal" aria-label="Close" ng-click="close()">
      <i class="fa fa-fw fa-times"></i>
    </button>
    <h4 class="modal-title">Logs for {{ service.service | specProperty:'label' }} ({{ service.id }})</h4>
  </div>
    
  <div class="modal-body modal-body-scrollable">
    <a id="scrollTop"></a>
    <pre id="logBody" ng-bind="serviceLog"></pre>
    <a id="scrollBottom"></a>
  </div>
  
  <div class="modal-footer">
    <button id="cancelBtn" class="btn btn-default pull-right" ng-click="close()">
      <i class="fa fa-fw fa-times"></i> Close
    </button>
  </div>
</section>