/*!
 * AngularJS Animations (https://scotch.io/tutorials/animating-angularjs-apps-ngview)
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(150%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-150%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(150%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(150%); }
    to      { transform: translateY(0); }
}

  .page.ng-enter           { animation: slideInRight 0.6s both ease-in; z-index: 9999; }
  .page.ng-leave           { animation: rotateOutNewspaper 0.3s both ease-in; z-index: 8888; }
  
  .animate-enter, 
  .animate-leave { 
      -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      position: relative;
      display: block;
  } 
   
  .animate-leave.animate-leave-active,
  .animate-enter {
      -webkit-transform: skewX(45deg) skewY(30deg);
      -moz-transform: skewX(45deg) skewY(30deg);
      -ms-transform: skewX(45deg) skewY(30deg);
      -o-transform: skewX(45deg) skewY(30deg);
      transform: skewX(45deg) skewY(30deg);
      opacity: 0;
      height: 0px;
  }        
   
  .animate-enter.animate-enter-active,
  .animate-leave {
      -webkit-transform: skewX(0deg) skewY(0deg);
      -moz-transform: skewX(0deg) skewY(0deg);
      -ms-transform: skewX(0deg) skewY(0deg);
      -o-transform: skewX(0deg) skewY(0deg);
      transform: skewX(0deg) skewY(0deg);
      opacity: 1;
      height: 30px;
  }