<!-- The "Add Service" Configuration Modal -->
<section>
  <div class="modal-header">
    <button type="button" class="btn btn-danger pull-right btn-xs" data-dismiss="modal" aria-label="Close" ng-click="close()"><i class="fa fa-fw fa-times"></i></button>
    <h4 class="modal-title">Add Service to Stack</h4>
  </div>
  
  <div class="modal-body">
    <!-- Volume Section -->
    <div ng-if="newStackVolumeRequirements.length > 0">
      <div class="well">
        <div class="row">
          <!-- Show free / used space visually -->
          <div class="col-sm-4">
            <canvas id="doughnut" class="chart chart-doughnut"
              chart-data="data" chart-labels="labels" chart-legend="true">
            </canvas> 
          </div>
          
          <!-- No more space :( -->
          <div class="col-sm-8">
            <p>Your project is allowed to allocate <strong>{{ storageQuota }} GB</strong> of storage.</p>
      
            <form class="form" novalidate ng-if="(newStackOrphanedVolumes | orphansExist:volume.service).length">
              <fieldset>
                <div class="form-group">
                  <!-- TODO: Fix this ugly hack -->
                  <div class="radio" ng-repeat="orphan in newStackOrphanedVolumes | orphansExist:volume.service track by orphan.id" 
                      ng-click="volume.id=orphan.id;volume.name=orphan.name">
                    <label>
                      <input type="radio" ng-checked="volume.id === orphan.id">
                      Use existing data from <strong tooltip-placement="right" uib-tooltip="{{ orphan.size }} {{ orphan.sizeUnit }}">{{ orphan.name }}</strong>
                    </label>
                  </div>
                  
                  <!-- TODO: Fix this ugly hack -->
                  <div class="radio">
                    <fieldset ng-click="volume.id='';volume.name=volume.defaultName;" ng-disabled="(configuredVolumes | usedStorage) >= storageQuota">
                      <label ng-style="{ 'cursor': (configuredVolumes | usedStorage) >= storageQuota ? 'not-allowed' : 'pointer' }">
                        <input type="radio" ng-checked="volume.id === ''">
                        Create a new volume <small class="text-danger" ng-if="(configuredVolumes | usedStorage) >= storageQuota">(No space remaining)</small>
                      </label>
                    </fieldset>
                  </div>
                </div>
              <!--form-group-->
              </fieldset>
            </form>
            <div ng-if="!availableSpace" class="col-sm-12">
              <p class="text-danger">You have used all of your allocated storage.</p>
              <p>
                <a target="_self" ng-href="{{ mailToLink }}">Contact an administrator</a> 
                regarding increasing your storage quota.
              </p>
              <p>Or you can remove other volumes to make room for a new one.</p>
            </div>
            <div ng-if="availableSpace" class="col-sm-12">
              <form name="forms.volumeCreateForm" class="form-horizontal" ng-show="volume.id === ''" novalidate>
                <!-- Volume Name -->
                <div class="col-sm-6">
                  <div class="form-group"  ng-class="{ 'has-error has-feedback': !forms.volumeCreateForm.volumeName.$pristine && forms.volumeCreateForm.volumeName.$invalid, 
                      'has-success has-feedback':  !forms.volumeCreateForm.volumeName.$pristine && forms.volumeCreateForm.volumeName.$valid }">
                    <label class="control-label" for="volumeName">Name</label>
                    <input id="volumeName" type="text" name="volumeName" class="form-control" required maxlength="20"
                         placeholder="Name" ng-model="volume.name" />
                    <span class="form-control-feedback glyphicon"  aria-hidden="true" ng-if="!forms.volumeCreateForm.volumeName.$pristine"
                      ng-class="{ 'glyphicon-remove': forms.volumeCreateForm.volumeName.$invalid, 'glyphicon-ok': forms.volumeCreateForm.volumeName.$valid }"></span>
                      
                    <div ng-messages="forms.volumeCreateForm.volumeName.$error" role="alert" class="alert-danger">
                      <div ng-message="required">Please enter a name.</div>
                    </div>
                  </div><!-- /form-group -->
                </div><!-- /col-sm-8 -->
                
                <!-- Volume Size -->
                <div class="col-sm-6">
                  <div class="form-group" ng-class="{ 'has-error': !forms.volumeCreateForm.volumeSize.$pristine && forms.volumeCreateForm.volumeSize.$invalid, 
                        'has-success': !forms.volumeCreateForm.volumeSize.$pristine && forms.volumeCreateForm.volumeSize.$valid }">
                    <label class="control-label" for="volumeSize">Size</label>
                    <div class="input-group">
                      <input id="volumeSize" type="number" name="volumeSize" min="1" class="form-control" ng-model="volume.size" required
                          max="{{ storageQuota - (_.concat(configuredVolumes, _.without(newStackVolumeRequirements, volume)) | usedStorage) }}" />
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{ volume.sizeUnit || 'Choose Units' }} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                          <li><a href="#/home" ng-click="volume.sizeUnit='GB'">GB</a></li>
                          <li><a href="#/home" ng-click="volume.sizeUnit='TB'">TB</a></li>
                        </ul>
                      </div><!-- /btn-group -->
                    </div><!-- /input-group -->
                    <div ng-messages="forms.volumeCreateForm.volumeSize.$error" class="alert-danger">
                      <div ng-message="required">Enter a size.</div>
                      <div ng-message="max">Not enough space.</div>
                    </div>
                  </div><!-- /form-group -->
                </div><!-- /col-sm-4 -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Configuration Section -->
    <div ng-if="!_.isEmpty(config)" class="well">
      <h4>Configuration</h4>
      <form name="forms.addlConfigForm">
        <table class="table table-striped table-condensed">
          <tbody>
            <!-- Required Config (Basic) - Validation -->
            <tr ng-repeat="cfg in required">
              <!-- Property Name -->
              <td class="col-sm-5">
                <strong >{{ cfg.label || cfg.name }}</strong>
              </td>
              
              <!-- Property Value -->
              <td class="col-sm-7">
                <input id="{{ cfg.name }}" ng-if="!cfg.isPassword" name="{{ cfg.name }}" class="form-control" type="text" placeholder="Value" ng-model="cfg.value" required />
                <pwgen id="{{ cfg.name }}" ng-if="cfg.isPassword" name="{{ cfg.name }}" ng-model="cfg.value" length="20" placeholder="Choose a Password" maxlength="32759" required></pwgen>
                  
                <div ng-if="!forms.addlConfigForm[cfg.name].$pristine" ng-messages="forms.addlConfigForm[cfg.name].$error" role="alert" class="text-danger">
                  <div ng-message="required">Please {{ cfg.isPassword ? 'choose a password' : 'specify a value' }}.</div>
                  <div ng-message="maxlength">Please enter a shorter value.</div>
                </div>
              </td>
              
              <td class="col-sm-1"></td>
            </tr>
            
            <!-- Optional Config (Advanced) - No validation -->
            <tr ng-repeat="cfg in optional">
              <td class="col-sm-5"><strong>{{ cfg.label || cfg.name }}</strong></td>
              <td class="col-sm-7">
                <div class="input-group">
                  <input class="form-control" name="cfgValue" placeholder="Value" ng-model="cfg.value" />
                  <span class="input-group-btn">
                    <button uib-tooltip="Use the default value for this property" tooltip-placement="left" class="btn btn-danger" ng-click="useDefaultValue(cfg)">
                      <i class="fa fa-times"></i>
                    </button>
                  </span>
                </div><!-- /input-group -->
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      
      <!-- Place "Add" button at the bottom -->
      <span uib-dropdown on-toggle="toggled(open)" ng-if="_.differenceBy(options, optional, 'name').length > 0">
        <a id="addFieldBtn" uib-dropdown-toggle>
          <i class="fa fa-plus fa-fw"></i> Override a Configuration Value
        </a>
        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="addFieldBtn">
          <li id="addFieldDropdown" ng-repeat="choice in options track by choice.name" ng-if="choice.canOverride && !_.find(optional, [ 'name', choice.name ])">
            <a ng-click="overrideConfig(choice)">{{ choice.label || choice.name }}</a>
          </li>
        </ul>
      </span>
    </div>
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="close()">Cancel</button>
    <button type="button" class="btn btn-success pull-right" data-dismiss="modal" ng-disabled="!validate()" ng-click="ok()">Confirm</button>
  </div>
</section>