<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<body>
<p>
Hello {{.Name}}, 
<br/><br/>

Your {{.WorkbenchName}} account has been approved.  

{{ if .ServiceLink }}

You should now be able to access the requested application <a href="{{.ServiceLink}}">{{.ServiceLink}}</a> using either your username "{{.Username}}" or email address "{{.Email}}".

Please explore the complete set of {{.WorkbenchName}} services at <a href="{{.Link}}">{{.Link}}</a>.

{{ else }}

You should now be able to login at <a href="{{.Link}}">{{.Link}}</a> using either your username "{{.Username}}" or email address "{{.Email}}".

{{ end }}

<br/><br/>
Thank you,<br>
{{.WorkbenchName}} team<br>
{{.SupportEmail}}<br>
</p>
    
</body>
</html>

