<!-- The "Stop Stack" Confirmation Modal -->
<section id="stackStopModal">
  <div class="modal-header">
    <button id="closeBtn" type="button" class="btn btn-xs btn-default pull-right" data-dismiss="modal" aria-label="Close" ng-click="close()"><i class="fa fa-fw fa-times"></i></button>
    <h4 class="modal-title">Shutdown Confirmation</h4>
  </div>
  <div class="modal-body">
    <p>Are you sure that you want to shut this application down?</p>
    <p ng-if="_.find(stack | allEndpoints, [ 'protocol', 'http' ])">You and your peers will no longer be able to access the endpoints provided below:
      <ul>
        <li ng-repeat="endpt in stack | allEndpoints track by $index" ng-if="endpt && endpt !== '' && ((stack.key | specProperty:'access') === 'external') && (endpt.protocol === 'http')">
          <a href="{{ endpt | externalHostPort }}">{{ endpt | externalHostPort }}</a>
        </li>
      </ul>
    </p>
  </div>
  <div class="modal-footer">
    <button id="cancelBtn" type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="close()">Cancel</button>
    <button id="confirmBtn" type="button" class="btn btn-danger pull-right" data-dismiss="modal" ng-click="ok()">Shut it Down</button>
  </div>
</section>
