<!-- The "Delete Spec" Confirmation Modal -->
<section id="deleteSpecModal">
  <div class="modal-header">
    <button id="closeBtn" type="button" class="btn btn-default pull-right btn-xs" data-dismiss="modal" aria-label="Close" ng-click="close()"><i class="fa fa-fw fa-times"></i></button>
    <h4 class="modal-title"><i class="fa fa-fw fa-bomb faa-burst animated faa-slow text-danger"></i> Delete Application</h4>
  </div>
  <div class="modal-body">
    <p>Are you sure that you would like to delete this application from your catalog?</p>
  </div>
  <div class="modal-footer">
    <div class="col-sm-2">
      <button id="cancelBtn" type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="close()">
        <i class="fa fa-fw fa-times"></i> Cancel
      </button>
    </div>
    <div class="col-sm-8 text-center">
      <p class="text-danger" ng-if="showAlert">
        <a id="dashboardErrorLink" ng-href="#/home?expand={{ spec.key }}" ng-click="close()">
          Your instances
        </a> 
        must be stopped and removed before this application can be deleted.
      </p>
    </div>
    <div class="col-sm-2">
      <button id="confirmBtn" type="button" class="btn btn-danger" data-dismiss="modal" ng-disabled="showAlert" ng-click="delete()">
        <i class="fa fa-fw fa-trash"></i> Delete
      </button>
    </div>
  </div>
</section>