<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<body>
<p>
The following user has requested access to NDS Labs:
<br/><br/>
Name: {{.Name}} <br/>
Username: {{.Namespace}} <br/>
Email: {{.Email}} <br/>
Organization: {{.Organization}} <br/>
Description: {{.Description}} <br/>
Server: {{.Origin}} <br/>
<br/><br/>
<a href="{{.ApproveLink}}">Approve request</a><br/>
<a href="{{.DenyLink}}">Deny request</a><br/>
</p>

</body>
</html>

