<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<body>
<p>
Hello {{.Name}}, 
<br/><br/>

Thank you for verifying your email address. <br/><br/>

Your registration request will be reviewed by the {{.WorkbenchName}} team.  You should hear back from us within 7 days.  
Please feel free to contact us at the email address below with any questions.

<br/>
<br/>
Sincerely,<br>
{{.WorkbenchName}} team<br>
{{.SupportEmail}}<br>
</p>
    
</body>
</html>

