<!-- The Config Viewer Modal -->
<section id="viewConfigModal">
  <div class="modal-header">
    <button id="closeBtn" type="button" class="btn btn-default pull-right btn-xs" data-dismiss="modal" aria-label="Close" ng-click="close()">
      <i class="fa fa-fw fa-times"></i>
    </button>
    <h4 class="modal-title">Configuration for {{ service.service | specProperty:'label' }}</h4>
    <small>ID: {{ service.id }}</small>
  </div>
    
  <div class="modal-body">
    <h4>Docker</h4>
    <div class="row">
      <div class="col-sm-12">
        <div class="table-responsive">
          <table class="table table-condensed table-hover table-bordered table-striped">
            <thead>
              <tr>
                <td><strong>Registry</strong></td>
                <td><strong>Image Name</strong></td>
                <td><strong>Image Tag</strong></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ spec.image.registry || 'docker.io' }}</td>
                <td>{{ spec.image.name }}</td>
                <td>{{ service.imageTag || 'Default (' + spec.image.tags[0] + ')' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <h4 ng-if="configs.length > 0">Environment</h4>
    <div class="row" ng-if="configs.length > 0">
      <div class="col-sm-12">
        <div class="table-responsive">
          <table class="table table-condensed table-hover table-bordered table-striped">
            <thead>
              <tr>
                <td><strong>Property</strong></td>
                <td><strong>Value</strong></td>
                <td><strong>Default</strong></td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="cfg in configs">
                <td>{{ cfg.name }}</td>
                <td>{{ cfg.value }}</td>
                <td>{{ cfg.defaultValue }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <h4 ng-if="service.endpoints">Endpoints</h4>
    <div class="row" ng-if="service.endpoints">
      <div class="col-sm-12">
        <div class="table-responsive">
          <table class="table table-condensed table-hover table-bordered table-striped">
            <thead>
              <tr>
                <td><strong>Protocol</strong></td>
                <td><strong>Internal Address</strong></td>
                <td><strong>External Address</strong></td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="endpt in service.endpoints">
                <td>{{ endpt.protocol | uppercase }}</td>
                <td>{{ service.internalIP }}:{{ endpt.port }}</td>
                <td>
		              <span ng-if="!endpt.nodePort && !endpt.url">N / A</span>
                  <a ng-if="endpt.nodePort" ng-href="{{ 'http://' + apiHost + ':' + endpt.nodePort }}">
                    {{ apiHost + ':' + endpt.nodePort }}
                  </a>
                  <a ng-if="endpt.url" ng-href="{{ 'http://' + endpt.url }}">
                    {{ endpt.host }}
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="modal-footer">
    <button id="cancelBtn" class="btn btn-default pull-right" ng-click="close()">
      <i class="fa fa-fw fa-times"></i> Close
    </button>
  </div>
</section>