<!-- The Add / Edit Application Service View -->
<section>
  <form name="modifySvc" ng-submit="save()">
    <div class="row">
      <div class="col-xs-12">
        <h3>{{ editingService ? 'Edit' : 'Add' }} {{ service.service | specProperty:'label' }}<span ng-if="service.id"> ({{ service.id }})</span></h3>
        
        <ol class="breadcrumb">
          <li><a href="/dashboard/#/">{{ productName }}</a></li>
          <li><a href="/dashboard/#/home">Applications</a></li>
          <li><a ng-href="/dashboard/#/home?expand={{ stack.key }}">{{ stack.key | specProperty:'label' }} ({{ stack.id }})</a></li>
          <li class="active">{{ editingService ? service.id : 'New ' + (service.service | specProperty:'label') }}</li>
        </ol>
        
        <uib-tabset active="activeTab">
          <!-- Config Mapper -->
          <uib-tab index="1" id="environmentTab">
            <uib-tab-heading>
              Variables <span id="cfgBadge" class="badge">{{ configs | countReqConfigs }}</span>
            </uib-tab-heading>
          
            <fieldset class="border-nds">
              <legend class="legend-fix">Environment Variables</legend>
              <div class="table-responsive">
                <table class="table table-condensed table-hover table-striped">
                  <thead>
                    <tr>
                      <th width="30%">Property</th>
                      <th width="30%">Value</th>
                      <th width="30%" class="text-center">Restore Default</span></th>
                      <th width="10%" class="text-center"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="cfg in configs | orderBy:['spec.canOverride', 'spec.isPassword'] track by cfg.name">
                        <td>
                          <span ng-if="!cfg.canEdit">{{ cfg.label || cfg.name }}</span>
                          <input id="cfgName" ng-if="cfg.canEdit" class="form-control" ng-model="cfg.name" placeholder="Property Name..." />
                        </td>
                        <td>
                          <div ng-if="!cfg.spec.canOverride && !cfg.spec.isPassword" id="newCfgValueType">
                            <span ng-if="cfg.value">{{ cfg.value }}</span>
                            <span ng-if="cfg.spec.useFrom">Use From: {{ cfg.spec.useFrom }}</span>
                            <span ng-if="cfg.spec.setTo">{{ cfg.value }} -> {{ cfg.spec.setTo }}</span>
                          </div>
                          <div ng-if="cfg.spec.canOverride || cfg.spec.isPassword">
                            <input id="cfgValue" class="form-control" ng-if="!cfg.spec.isPassword" ng-model="cfg.value" placeholder="Property Value..." />
                            
                            <div ng-if="cfg.spec.isPassword">
                              <pwgen id="cfgPassword" id="configValue" name="configValue" ng-model="cfg.value" length="20" placeholder="Choose a Password" maxlength="32759" required></pwgen>
                              
                              <!-- Password Strength -->
                              <div id="cfgPasswordStrength" ng-password-strength="cfg.value" strength="cfg.strength" 
                                  inner-class="progress-bar" inner-class-prefix="progress-bar-">
                              </div>
                              
                              Current strength is: <strong>{{ cfg.strength | passwordStrength }}</strong>
                            </div>
                          </div>
                
                        </td>
                        <td class="text-center"><button id="cfgDefaultBtn" class="btn btn-xs btn-default" ng-if="cfg.canEdit" ng-click="cfg.value = cfg.spec.value"><i class="fa fa-fw fa-asterisk"></i></button></td>
                        <td class="text-center"><button id="cfgRemoveBtn" class="btn btn-xs btn-default" ng-if="cfg.canEdit" ng-click="configs.splice(configs.indexOf(cfg), 1)"><i class="fa fa-fw fa-trash"></i></button></td>
                    </tr>
                    
                    <!-- Map a new property -->
                    <tr>
                      <td>
                        <input id="newCfgName" class="form-control" ng-model="newCfgName" placeholder="New Property Name..." />
                        <p id="newCfgNameInvalidText" class="text-danger" style="margin:0;padding:0" ng-if="!newCfgName">New variable requires a name!</p>
                        <p id="newCfgNameInvalidText" class="text-danger" style="margin:0;padding:0" ng-if="_.find(configs, ['name', newCfgName])">New variable name is not unique!</p>
                        
                      </td>
                      <td>
                        <input id="newCfgValue" class="form-control" ng-model="newCfgValue" placeholder="New Property Value..." />
                        <p id="newCfgValueInvalidText" class="text-danger" style="margin:0;padding:0" ng-if="!newCfgValue">New variable requires a value!</p>
                      </td>
                      <td class="text-center">
                        <p id="newCfgValidText" class="text-success" ng-if="newCfgName && newCfgValue && !_.find(configs, ['name', newCfgName])">New variable is valid!</p>
                      </td>
                      <td class="text-center">
                        <button id="cfgAddBtn" class="btn btn-xs btn-primary" ng-click="configs.push({ 'name': newCfgName, 'value': newCfgValue, 'spec': { 'default': '', canOverride: true, isPassword: false }, canEdit: true });newCfgName=newCfgValue=''" 
                        ng-disabled="!newCfgName || !newCfgValue || _.find(configs, ['name', newCfgName])">
                          <i class="fa fa-fw fa-plus"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </fieldset>
          </uib-tab>
        
          <!-- Volume Mapper -->
          <uib-tab index="2" id="dataTab">
            <uib-tab-heading>
              Data <span id="volumesBadge" class="badge">{{ volumes | countReqVolumes }}</span>
            </uib-tab-heading>
            
            <fieldset class="border-nds">
              <legend class="legend-fix">Application Data</legend>
              <div class="table-responsive">
                <table class="table table-condensed table-hover table-striped">
                  <thead>
                    <tr>
                      <th width="50%">Source</th>
                      <th width="35%">Destination</th>
                      <th width="15%"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="volume in volumes | orderBy:'canEdit':true">
                      <td>
                        <!--<div class="input-group">
                          <span class="input-group-addon" id="volume-map-from">/home/{{ project.namespace }}/</span>-->
                          <input id="volumeFromInput" class="form-control" type="text" ng-model="volume.from" placeholder="Map From..." />
                        <!--</div>-->
                      </td>
                      <td>
                        <span ng-if="!volume.canEdit">{{ volume.to }}</span>
                        <input id="volumeToInput" class="form-control" ng-if="volume.canEdit" ng-model="volume.to" placeholder="Map To..." />
                      </td>
                      <td><button id="volumeRemoveBtn" ng-if="volume.canEdit" class="btn btn-xs btn-default" ng-click="volumes.splice(volumes.indexOf(volume), 1)"><i class="fa fa-fw fa-trash"></i></button></td>
                    </tr>
                    
                    <!-- Map a new volume -->
                    <tr>
                      <td>
                        <input id="newVolumeFrom" class="form-control" type="text" ng-model="newFrom" placeholder="Map From..." />
                      </td>
                      <td>
                        <input id="newVolumeTo" class="form-control" ng-model="newTo" placeholder="Map To..." />
                      </td>
                      <td>
                        <button id="volumeAddBtn" class="btn btn-xs btn-primary" ng-click="volumes.push({ to: newTo, from: newFrom, canEdit:true });newFrom=newTo=''" ng-disabled="!newTo || !newFrom || _.find(volumes, [ 'to', newTo ])">
                          <i class="fa fa-fw fa-plus"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </fieldset>
          </uib-tab>
          
          <!-- Port Mapper -->
          <!-- <uib-tab heading="Network" index="3">
            <fieldset class="border-nds">
              <legend class="legend-fix">Ports</legend>
              <div class="table-responsive">
                <table class="table table-condensed table-hover table-striped">
                  <thead>
                    <tr>
                      <th width="30%" class="text-center">Protocol</th>
                      <th width="30%" class="text-center">Port Number</th>
                      <th width="30%" class="text-center">Exposure</th>
                      <th width="10%"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="port in ports | orderBy:'canEdit':true">
                      <td class="text-center">
                        {{ port.protocol | uppercase }}
                      </td>
                      <td class="text-center">
                        {{ port.port }}
                      </td>
                      <td class="text-center">
                        <div class="btn-group" role="group">
                          <button type="button" class="btn btn-xs" ng-click="port.exposure='internal'" ng-class="{ 'btn-primary': port.exposure === 'internal', 'btn-default': port.exposure !== 'internal' }"><i class="fa fa-fw fa-eye-slash"></i></button>
                          <button type="button" class="btn btn-xs" ng-click="port.exposure='external'" ng-class="{ 'btn-primary': port.exposure === 'external', 'btn-default': port.exposure !== 'external' }"><i class="fa fa-fw fa-eye"></i></button>
                        </div>
                      </td>
                      <td><button ng-if="port.canEdit" class="btn btn-xs btn-default" ng-click="ports.splice(ports.indexOf(port), 1)"><i class="fa fa-fw fa-trash"></i></button></td>
                    </tr>
                </table>
              </div>
            </fieldset>
          </uib-tab> -->
          
          
          <uib-tab heading="Docker" index="4" id="dockerTab">
            <fieldset class="border-nds">
              <legend class="legend-fix">Docker</legend>
              
              <label>Registry</label>
              <p id="dockerImageRegistryText">{{ spec.image.registry || 'docker.io' }}</p>
              
              <label>Image Name</label>
              <p id="dockerImageNameText">{{ spec.image.name }}</p>
              
              <label>Image Tag</label><!--  "dep as dep.label for dep in spec.depends | invertSpecList track by dep.key --->
              <select id="dockerImageTagSelect" class="form-control" ng-model="service.imageTag">
                <option value="">Default ({{ spec.image.tags[0] || 'latest' }})</option>
                <option ng-repeat="tag in spec.image.tags track by tag" value="{{ tag }}">{{ tag }}</option>
              </select>
            </fieldset>
          </uib-tab>
          
          <uib-tab heading="Resource Limits" index="5" id="resourceLimitsTab">
            <fieldset class="border-nds">
              <legend class="legend-fix">Resource Limits <sup><i class="fa fa-fw fa-question-circle" tooltip-placement="bottom-right" uib-tooltip="How much of your total allocation would you like to grant this application?"></i></sup></legend>
  
              <!-- CPU Default -->
              <div class="form-group">
                <label for="limitCpuDefaultField">CPU Default <sup><i class="fa fa-fw fa-question-circle" tooltip-placement="left" uib-tooltip="The minimum amount of CPU to allocate"></i></sup></label>
                <div class="input-group">
                  <input type="number" class="form-control" id="limitCpuDefaultField" name="limitCpuDefaultField" 
                        ng-model="service.resourceLimits.cpuDefault" aria-describedby="cpudefault-addon" ng-min="10" ng-max="{{ service.resourceLimits.cpuMax }}" required />
                  <span class="input-group-addon" id="cpudefault-addon">m</span>
                </div>
                
                <ng-messages class="text-danger" for="modifySvc.limitCpuDefaultField.$error" role="alert">
                  <ng-message when="required">This field is required</ng-message>
                  <ng-message when="min">This field must be above the minimum (10)</ng-message>
                  <ng-message when="max">This field must be below the maximum ({{ service.resourceLimits.cpuMax }})</ng-message>
                </ng-messages>
              </div>
              
              <!-- CPU Max -->
              <div class="form-group">
                <label for="limitCpuMaxField">CPU Max <sup><i class="fa fa-fw fa-question-circle" tooltip-placement="left" uib-tooltip="The maximum CPU this application is allowed to consume"></i></sup></label>
                <div class="input-group">
                  <input type="number" class="form-control" id="limitCpuMaxField" name="limitCpuMaxField" 
                        ng-model="service.resourceLimits.cpuMax" aria-describedby="cpumax-addon" ng-min="10" required />
                  <span class="input-group-addon" id="cpumax-addon">m</span>
                </div>
                
                <ng-messages class="text-danger" for="modifySvc.limitCpuMaxField.$error" role="alert">
                  <ng-message when="required">This field is required</ng-message>
                  <ng-message when="min">This field must be above the minimum (10)</ng-message>
                </ng-messages>
              </div>
              
              <!-- Memory Default -->
              <div class="form-group">
                <label for="limitMemDefaultField">Memory Default <sup><i class="fa fa-fw fa-question-circle" tooltip-placement="left" uib-tooltip="The minimum amount of memory to allocate"></i></sup></label>
                <div class="input-group">
                  <input type="number" class="form-control" id="limitMemDefaultField" name="limitMemDefaultField" 
                        ng-model="service.resourceLimits.memDefault" aria-describedby="memdefault-addon" ng-min="10" ng-max="{{ service.resourceLimits.memMax }}" required />
                  <span class="input-group-addon" id="memdefault-addon">M</span>
                </div>
                
                <ng-messages class="text-danger" for="modifySvc.limitMemDefaultField.$error" role="alert">
                  <ng-message when="required">This field is required</ng-message>
                  <ng-message when="min">This field must be above the minimum (10)</ng-message>
                  <ng-message when="max">This field must be below the maximum ({{ service.resourceLimits.memMax }})</ng-message>
                </ng-messages>
              </div>
              
              <!-- Memory Max -->
              <div class="form-group">
                <label for="limitMemMaxField">Memory Max <sup><i class="fa fa-fw fa-question-circle" tooltip-placement="left" uib-tooltip="The maximum amount of memory this application is allowed to consume"></i></sup></label>
                <div class="input-group">
                  <input type="number" class="form-control" id="limitMemMaxField" name="limitMemMaxField" 
                        ng-model="service.resourceLimits.memMax" aria-describedby="memmax-addon" ng-min="10" required />
                  <span class="input-group-addon" id="memmax-addon">M</span>
                </div>
                
                <ng-messages class="text-danger" for="modifySvc.limitMemMaxField.$error" role="alert">
                  <ng-message when="required">This field is required</ng-message>
                  <ng-message when="min">This field must be above the minimum (10)</ng-message>
                </ng-messages>
              </div>
            </fieldset>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-12">
        <div class="pull-right">
          <button id="saveBtn" class="btn btn-success" type="submit" ng-click="save()" ng-disabled="modifySvc.$invalid"><i class="fa fa-fw fa-save"></i> Save</button>
          <button id="cancelBtn" class="btn btn-danger" type="button" ng-click="cancel()"><i class="fa fa-fw fa-times"></i> Cancel</button>
        </div>
      </div>
    </div>
  </form>
</section>
