<!-- The "Export Spec" Modal -->
<section id="exportSpecModal">
  <div class="modal-header">
    <button id="closeBtn" type="button" class="btn btn-xs btn-default pull-right" data-dismiss="modal" aria-label="Close" ng-click="close()"><i class="fa fa-fw fa-times"></i></button>
    <h4 class="modal-title">View Application Details</h4>
  </div>
  
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <pre style="height:350px;">{{ spec | json }}</pre>
      </div>
    </div>
  </div>
  
  <div class="modal-footer">
    <div class="row">
      <div class="col-sm-2">
        <button id="cancelBtn" type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()"><i class="fa fa-fw fa-times"></i> Close</button>
      </div>
        
      <!--<div class="col-sm-8 text-center">
        <small class="text-danger"><a ng-href="#/home?expand={{ spec.key }}" ng-click="close()">Your instances</a> must be stopped and removed before this application can be deleted.</small>
        <a ng-href="#/store/edit/{{ spec.key }}" ng-if="spec.catalog === 'user'" type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()"><i class="fa fa-fw fa-edit"></i> Edit</a>
      </div>-->
      
      <div class="col-sm-10">
        <a id="editBtn" ng-href="#/store/edit/{{ spec.key }}" ng-if="spec.catalog === 'user'" ng-disabled="showAlert" type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()"><i class="fa fa-fw fa-edit"></i> Edit</a>
        <button id="copyToClipboardModalBtn" type="button" class="btn btn-primary" data-dismiss="modal" ng-click="copy()"><i class="fa fa-fw fa-clipboard"></i> Copy to Clipboard</button>
      </div>
    </div>
  </div>
</section>