<!-- The Login View -->
<section>
  <!-- Main Panel -->
  <div class="panel panel-primary" id="loginPanel" ng-if="!showVerify">
    <div class="panel-heading">
      <small class="pull-right"><a class="btn btn-xs" ng-style="{ color: hover ? 'blue' : 'white' }" ng-mouseenter="hover=true" ng-mouseleave="hover=false" ng-href="#/recover">Forgot your password?</a></small>
      <h3 class="panel-title"><i class="fa fa-fw fa-lock"></i> Login</h3>
    </div>
    
    <!-- Login form -->
    <div class="panel-body">
      <form class="form-horizontal" ng-submit="login()">

        <!-- Namespace Field -->
        <div class="form-group">
          <!--<label for="inputNamespace" class="col-sm-4 control-label">Username</label>-->
          <div class="col-sm-12">
            <input type="text" class="form-control" id="inputNamespace" placeholder="Username" ng-model="settings.namespace">
          </div>
        </div>

        <!-- Password Field -->
        <div class="form-group">
          <!--<label for="inputPassword" class="col-sm-4 control-label">Password</label>-->
          <div class="col-sm-12">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="settings.password">
          </div>
        </div>
        
        <div class="row">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-primary" ng-click="login()" style="width:100%">Sign In <i class="fa fa-fw fa-sign-in"></i></button>
          </div>
        </div>
        
        <!-- Login Button -->
        <div class="row">
          <div class="col-xs-12 text-center">
            <small>
              <!--<a ng-click="signUp()" href><i class="fa fa-fw fa-user-plus"></i> Don't have an account yet? Request access here!</a>-->
              <a href="#/register"><i class="fa fa-fw fa-user-plus"></i> Don't have an account yet? Request access here!</a>
            </small>
          </div>
        </div>

        <div class="text-center">
          <p class="text-danger" ng-if="errorMessage">
            {{ errorMessage }}
          </p>
          <p class="text-primary" ng-if="progressMessage">
            <i class="fa fa-fw fa-spinner fa-spin"></i> {{ progressMessage }}
          </p>
        </div>
      </form>
    </div>
  </div>
  
  <div class="row" style="margin-top:50px;">
    <div class="helper-text" ng-if="showVerify">
      <h2 class="text-warning"><i class="fa fa-fw fa-square-o"></i>&nbsp;&nbsp;Almost there!</h2>
      <!--<h4>&nbsp;&nbsp;Thank you for registering for NDS Labs</h4>-->
      <h4>Your request is not submitted until you confirm your e-mail address</h4>
    </div>
  </div>
</section>
