<!-- The "Landing Page" View -->
<section style="margin: 10px;">
  <div ng-if="user && token" class="alert" role="alert" ng-class="{ 'alert-success': verified === true, 'alert-info': verified === null, 'alert-danger': verified === false }">
    <i class="fa fa-fw" ng-class="{ 'fa-spinner fa-spin': verified === null, 'fa-times-circle-o': verified === false, 'fa-check-circle-o': verified === true }"></i>
      <span ng-if="verified === true">
        <strong>Thank you!</strong> We will notify you via e-mail once your request is approved
      </span>
      
      <span ng-if="verified === false">
        <strong>Uh oh...</strong> Something went wrong when verifying your e-mail address
      </span>
      
      <span ng-if="verified === null">
        <strong>Almost there!</strong> Sending verification...
      </span>
  </div>
  
  <div class="jumbotron">
    <h1>Welcome to the {{ productName }}!</h1>
    <p>{{ productName }} is an environment where developers can prototype tools and capabilities that help build out the NDS framework and services.</p>
    <p>In particular, it is a place that can host the development activities of <a href="http://www.nationaldataservice.org/projects/pilots.html">NDS pilot projects</a>.</p>
    <p><a class="btn btn-primary btn-lg" id="learnMoreBtn" ng-href="{{ featureLink.url }}" target="_blank" role="button">Learn more</a></p>
  </div>
  
  <div class="row">
    <!-- Request Access Panel -->
    <div class="col-sm-5" ng-if="!auth.token">
      <div class="panel panel-primary" ng-if="!enableOAuth">
        <div class="panel-heading">
          <h3 class="panel-title">Request Access to {{ productName }}</h3>
        </div>
        <div class="panel-body">
          <p>For more about requesting access to {{ productName }}, click <a ng-href="{{ productUrl }}" target="_blank">here</a>!</p>
          <a id="signUpBtn" ng-href="/login/register{{ rd ? '?rd=' + rd : '' }}" class="btn btn-default">Request Access <i class="fa fa-fw fa-caret-right"></i></a>
        </div>
      </div>
    </div>
    
    <!-- Sign In Panel -->
    <div class="col-sm-5" ng-if="!auth.token">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Already have an account?</h3>
        </div>
        <div class="panel-body">
          <p>Start using {{ productName }}!</p>
          <a id="signInBtn" class="btn btn-default" ng-href="{{ signinLink }}">Sign in here <i class="fa fa-fw fa-caret-right"></i></a>
        </div>
      </div>
    </div>
    
    <!-- Getting Started (walkthrough?) -->
    <div class="col-sm-10" ng-if="auth.token">
      <p>You are already signed in!</p>
      
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-fw fa-dashboard"></i><a class="btn btn-link" id="dashboardLink" type="button" href="/dashboard/home">Access your Configured Application Instances</a></li>
        <li><i class="fa-li fa fa-fw fa-filter"></i><a class="btn btn-link" id="catalogLink" type="button" href="/dashboard/store">Browse the Application Catalog</a></li>
        <li><i class="fa-li fa fa-fw fa-plus"></i><a class="btn btn-link" id="catalogAddLink" type="button" href="/dashboard/store/add">Add a New Application to the Catalog</a></li>
      </ul>
    </div>
    
    <!-- Help Links -->
    <div class="col-sm-2">
      <p>See Also:
        <ul class="fa-ul">
          <li ng-repeat="link in helpLinks"><i class="fa-li fa {{ link.icon }}"></i> <a ng-href="{{ link.url }}" id="helpLink{{$index}}" target="_blank">{{ link.name }}</a></li>
        </ul>
      </p>
      
      <hr>
      
      <p>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-server"></i> <a href="/landing/swagger" id="apiLink"> API Reference</a></li>
          <li><i class="fa-li fa fa-support"></i> <a href="/landing/contact" id="contactUsLink"> Contact Us</a></li>
        </ul>
      </p>
    </div>
  </div>
</section>